.peoplelist-ul { list-style: none; }
.peoplelist-person { width: 80px;
	margin-right: 20px;
	display: inline-block;
	margin-bottom: 20px;
	vertical-align: top;
}
.peoplelist-portrait {
	width: 64px;
	height: 64px;
	margin-left: 6px;
	border-radius: 50%;
	border-style: solid;
	border-width: 1px;
	border-color: #D8D8D8;
}
.peoplelist-name { text-align: center; }
