<%
  page = { 'title': 'Social', 'key': 'Social' };
  page.description = "FamilySearch Social";
  assets = {
    'css': [ 'index.css' ],
    'js': [
      'angular-1.3.0rc5.min.js',
      'app.js',
      'friendService.js',
      'friendListCtrl.js',
      'userPortrait.js',
      'currentUserService.js',
      'bootstrap.js',
      'inviteFriend.js',
      'sharedPeople.js',
      'removeFriend.js'
    ]
  };
  partial('partials/_pageGlobals');
%>
<script type="text/javascript">FS.social = <%- JSON.stringify(user) %></script>

<div ng-app="social">

  <div class="banner row">
    <img class="user-portrait pull-left" user-portrait="" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7">
    <h1 class="title pull-left">Friends</h1>
    <button class="btn btn-success pull-right invite-btn" invite-friend="">Invite Friend</button>
    <button class="btn btn-success pull-right shared-people">Share Memories</button>
    <shared-people data="<%= user.profile.id %>">
  </div>

  <div class="alert page-alerts">
    <strong>Warning!</strong> This is a FamilySearch prototype, all social data will be deleted throughout the prototyping process.
  </div>

  <section class="friend-list">

    <div class="friend-filter">
      Filter: <input ng-model="friendText" type="text" class="search-query">
    </div>

    <div  ng-cloak ng-controller="friendListCtrl">
      <div class="friend-container" ng-repeat="friend in friends | orderBy: 'display_name' | filter:friendText">
        <img class="friend-avatar pull-left" ng-src="{{friend.portrait}}">
        <div class="name-container pull-left">
          <span class="name">{{friend.display_name}}</span>
          <p>Is sharing 0 people</p>
        </div>

        <div class="btn-group remove-btn pull-right">
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">Friends <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="" class="remove-btn" remove-friend="{{friend.user_id}}" data-handle="{{friend.display_name}}">Remove Friend</a></li>
            <li><a href="mailto:{{friend.email}}" class="remove-btn" target="_blank">Send Email</a></li>
          </ul>
        </div>

      </div>
    </div>
  </section>

</div>