<%
  page = { 'title': 'Social', 'key': 'Social', 'ngApp': 'social' };
  page.description = "FamilySearch Social";
  page.bgDark = true;
  assets = {
    'css': [ 'index.css' ],
    'js': [
      'angular-1.3.0rc5.min.js',
      'app.js',
      'friendService.js',
      'friendListCtrl.js',
      'userPortrait.js',
      'currentUserService.js',
      'bootstrap.js',
      'bootstrap-tooltip.js',
      'inviteFriend.js',
      'inviteFriendService.js'
    ]
  };
%>
<script type="text/javascript">FS.social = <%- JSON.stringify(user) %></script>

<div class="banner row">
  <user-portrait class="pull-left"></user-portrait>
  <h1 class="title pull-left">Friends</h1>
  <button class="btn btn-success pull-right invite-btn" invite-friend="">Invite Friend</button>
</div>

<div class="alert">
  <strong>Warning!</strong> This is a FamilySearch prototype, all social data will be deleted throughout the prototyping process.
</div>

<section class="friend-list">
  <div ng-controller="friendListCtrl">
    <div class="friend-container" ng-repeat="friend in friends">
      <img class="friend-avatar" src="{{friend.portrait}}">
      <span class="friend-name">{{friend.display_name}}</span>

      <div class="btn-group remove-btn pull-right">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">Sharing <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Remove Friend</a></li>
        </ul>
      </div>

    </div>
  </div>
</section>