.invite-button { margin-top: 10px; width: 100%; }
.popover-title { text-align: center; }
.popover-content { padding-top: 20px; padding-bottom: 20px; }
.invites-list { list-style-type: none; margin-left: -35px; }
.popover { width: 250px; }
hr { border-top: 1px solid #9D9D9D; margin-top: 5px; }
.invite-header { display: inline; }
.pending-invites { margin-top: -10px; }
.invite-section { padding-top: 30px; }
.permission-note { color: #666464; margin-top: 20px; }