.invite-btn, .shared-people { margin-left: 10px; }
.invite-email { width: 195px; }
.invite-button { margin-top: 10px; width: 208px; }
.popover-title { text-align: center; }
.popover-content { padding-top: 20px; padding-bottom: 20px; }
.icon { padding-right: 10px; }
.invites-list { list-style-type: none; margin-left: 0px; }